<apex:page showHeader="false" sidebar="false" controller="FSL.IntegrityCheckerUtils">
    <apex:includeLightning />

    <div id="lightning" />

    <script>
        let ns = "{!namespace}";
        if (ns === ""){
            ns = "c";
            console.log(ns);
        }

        $Lightning.use(ns+":Integrity_Checker_App", function() {
          $Lightning.createComponent(
            ns+":Integrity_Checker_MainCmp",
            {},
            "lightning",
            function(cmp) {
              console.log('OK');
            }
            );
        });
    </script>
</apex:page>