<apex:page showHeader="false">
  
  <apex:pageBlock title="Demo Page">
  <apex:pageBlockSection title="View">
  <h1> VIew shows user interface details on visual force page</h1>
  </apex:pageBlockSection>>
  </apex:pageBlock>>
  
</apex:page>