<apex:page showHeader="false">
<apex:pageBlock title="block title"> <h1>hi</h1>  
<apex:pageBlockSection title="section title"><h1> hello </h1> </apex:pageBlockSection>   </apex:pageBlock>
  
</apex:page>