<apex:page standardController="Account" tabStyle="Account">
     <apex:tabPanel >
         <apex:tab title="Account Details" label="Account Details">
             <apex:detail relatedList="false"/>
         </apex:tab>
         <apex:tab title="Contacts" label="Contacts">
             <apex:relatedList subject="{!account}" list="Contacts"/>
         </apex:tab>
          <apex:tab title="Opportunities" label="Opportunities">
             <apex:relatedList subject="{!account}" list="Opportunities"/>
         </apex:tab>
     </apex:tabPanel>
</apex:page>